@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Labrada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


html{
  scroll-behavior: smooth;
}
body {
  background-color: #161422;
}

nav {
  background: rgb(22, 20, 34);
  display: flex;
  height: 80px;
  width: 100%;
  /* background: rgb(209, 74, 74); */
  /* background: linear-gradient(180deg, rgba(236,66,66,1) 0%, #161422 100%); */
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
}

nav .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  font-family: 'Labrada', serif;
  margin-top: -6px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: rgb(255, 19, 19);
}

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

.active{
  color: #f10c0c;
}
/* bottom nav  */
.bottom-nav {
  display: none;
}

.home {
  margin-top: 5px;
  background: rgb(22, 20, 34);
  background: linear-gradient(90deg, rgba(22, 20, 34, 1) 7%, rgba(253, 29, 29, 1) 48%, rgba(22, 20, 34, 1) 96%);
  color: #fff;
  display: flex;
  height: 35vh;
  margin-bottom: 55px;
  justify-content: space-around;
}

.head {
  display: flex;
  align-items: center;
  width: 21%;
  padding: 10px;
}

.head-txt {
  display: flex;
  align-items: center;
  justify-content: center;
}


.btn {
  padding: 7px 0;
  border: none;
  background-color: #5cce5c;
  border-bottom: 1px solid white;
}

.btn:hover{
  background-color: #0cff0c;
}

.btn a{
  padding: 7px 22px;
  text-decoration: none;
  color: #161422;
}

.head-txt h1 {
  font-family: 'Gloock', serif;
}

.bgimg {
  display: flex;
  align-items: center;
  width: 20%;
}

.bgimg img {
  width: 80%;
}


.live-sr-page{
  color: #f8f8f8;
}

.live-sr-title{
  background-color: #cf2828;
  width: 100%;
  padding: 10px;
}

.live-page-box{
  border: 1px solid white;
  margin: 10px;
  height: 100%;
}


.watch-live{
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;

}
.ipl-live-heading h1 {
  text-align: center;
  font-size: 32px;
  color: rgb(255, 255, 255);
  font-family: "Tilt Neon", cursive;
  border-bottom: 1px solid #fff;
  width: 28%;
  margin: 40px auto;
  background: rgb(63,94,251);
}

.epl img {
  width: 287px;
  border-radius: 50%;
}

.watch-live{
  background: linear-gradient(90deg, rgba(22, 20, 34, 1) 7%, rgba(253, 29, 29, 1) 48%, rgba(22, 20, 34, 1) 96%);
}



footer{
  margin-bottom: 75px;
}

.footer {
  color: #fff;
  border-top: 1px solid #fff;
  width: 100%;
  height: 27vh;
  border-radius: 100px 0px 0px 0px;
  margin: 45px 0px;
}

.footer h1{
  text-align: center;
}

.about-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ft-about {
  width: 20%;
}

.ft-about p,.contact p {
  font-size: 30px;
  border-bottom: 1px solid #fff;
  font-weight: 500;
  margin: 15px 0;
}

.contact {
  margin-top: 17px;
}

.contact .ft-list li{
  list-style: none;
  margin: 13px 0;
}

.contact .ft-list li a{
  text-decoration: none;
  color: #fff;
}

.contact .ft-list li a:hover{
  color: #f10c0c;
}
.contact .ft-list li a i{
margin-right: 5px;
font-size: 20px;
}

.ft-about span{
  font-size: 15px;
}

.end{
  border-top: 1px solid #fff;
  text-align: center;
}

.watch-hed{
  margin-top: 10px;
  color: #fff;
  text-align: center;
}

.watch-hed iframe {
  width: 97%;
  height: 70vh;
  margin: 10px 0;
}

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
    /* for no internet 
    padding: 13px;
    border: 2px solid; */
  }

  #click:checked~.menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #161422;
    /* background: linear-gradient(248deg, rgba(236, 66, 66, 1) 0%, rgba(33, 33, 33, 1) 100%); */
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked~ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked~ul li a {
    margin-left: 0px;
  }

  nav ul li a:hover {
    background: none;
    color: rgb(245, 31, 31);
  }

  /* resp bottom nav start  */
  a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  li {
    list-style: none;
  }

  .bottom-nav {
    display: block;
    background: rgb(22, 20, 34);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: 25px;
    border-top: 1px solid #fafafa;
  }

  .bt-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .bt-list-itm a:hover{
    color: #f10c0c;
  }

  .home {
    background: rgb(22, 20, 34);
    background: linear-gradient(180deg, rgba(22, 20, 34, 1) 7%, rgba(253, 29, 29, 1) 48%, rgba(22, 20, 34, 1) 96%);
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;
    height: 100%;
  }


  .head{
    width: 45%;
  }
  .head img{
    width: 100%;
  }
  .head-txt {
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px 0px;
}
.bgimg {
  width: 70%;
}
.bgimg img {
  width: 100%;
}

.live-page-box{
  margin-bottom: 100px;
}

.ipl-live-heading h1 {
  width: 60%;
}

.watch-live{
  background: linear-gradient(180deg, rgba(22, 20, 34, 1) 7%, rgba(253, 29, 29, 1) 48%, rgba(22, 20, 34, 1) 96%);
  flex-direction: column;
  height: 80vh;
}

.about-contact{
  display: block;
  padding: 20px 57px;
}
.ft-about {
  width: 100%;
}
footer {
  margin-bottom: 18rem;
  height: 19rem;
}
.end p {
  margin: 7px 0;
}
}